* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

img {
    border-radius: 10px;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better readability */
    padding: 20px;
}

.navigation img {
    width: 100px;
    margin-bottom: 20px;
}

.name h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.paragraphs p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.buttons a {
    text-decoration: none;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.buttons button:hover {
    background-color: #0056b3;
}